---
services:
  backend:
    build:
      context: ./backend
    container_name: codocodile_backend
    ports:
      - "8000:8000"
    depends_on:
      - frontend
    volumes:
      - data:/app/data:rw
    networks:
      - codocodile_network
    env_file:
      - ./backend/local.env

  frontend:
    build:
      context: ./new-frontend
      dockerfile: Dockerfile
    container_name: codocodile_frontend
    ports:
      - "3000:3000"
    networks:
      - codocodile_network
    environment:
      - NEXT_PUBLIC_API_URL=http://backend:8000

networks:
  codocodile_network:

volumes:
  data:
