---
services:
  backend:
    build:
      context: ./backend
    container_name: codocodile_backend
    expose:
      - "8000"
    depends_on:
      - frontend
    volumes:
      - data:/app/data:rw
    networks:
      - codocodile_network
    env_file:
      - ./backend/local.env

  frontend:
    build:
      context: ./new-frontend
      dockerfile: Dockerfile
      # args:
      #   NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL:-https://codocodile.ir}
    container_name: codocodile_frontend
    expose:
      - "3000"
    networks:
      - codocodile_network
  
  nginx:
    image: nginx
    container_name: codocodile_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt/live/codocodile.ir/fullchain.pem:/etc/nginx/ssl/codocodile.ir.crt:ro
      - /etc/letsencrypt/live/codocodile.ir/privkey.pem:/etc/nginx/ssl/codocodile.ir.key:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - codocodile_network
    depends_on:
      - backend
      - frontend

networks:
  codocodile_network:

volumes:
  data:
